.wrapper{
    width: 1440px;
    display: flex;
    justify-content: space-around;
    background-color:#F8F8F7;
    
}

.rightSideGallery{
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: space-around;
}


.galleryFilter{
    width: 690px;
    height: 600px;
    border-radius: 20px;
    background: #FFF;
    padding: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
}