.leftSideDescriptions {
    width: 446px;
    height: 450px;
    display: flex;
    flex-direction: column;
    margin-left: 147px;

}

.greeting {
    margin-top: 80px;

    h1 {
        color: #1D1D1D;
        font-family: "Jost", sans-serif;
        font-size: 44px;
        font-style: normal;
        font-weight: 500;
        line-height: 58px;
    }

    span {
        color: #8C8C8C;
        font-family: "Jost", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.start {
    margin-top: 60px;


    h3 {
        color: #1D1D1D;
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        
    }
}

.navigationsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.rectangle {
    width: 138px;
    height: 198px;
    border-radius: 20px;
    border: 4px solid rgba(255, 255, 255, 0.60);
    background: #B4B7FF;
    display: flex;
    align-items:center;
    justify-content: center;

    .breeds{
        width: 117px;
        height: 163px;
        background-image: url(../../../public/img/catdance.png);
    }

    .voting{
        width: 100px;
        height: 125px;
        background-image: url(../../../public/img/votetable.png);
    }

    .gallery{
        width: 112px;
        height: 190px;
        background-image: url(../../../public/img/phone.png);
    }

   


}


.navBtn {
    width: 138px;
    height: 36px;
    border-radius: 10px;
    background-color: #FFF;
    margin-top: 14px;

    p {
        color: #FF868E;
        text-align: center;
        font-family: "Jost", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 2px;
        text-align: center;
    }
}