.rightSideLike{
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: space-around;
    width: 680px;
    border-radius: 20px;
    background: #FFF;
    padding: 20px;
}
