.root {
  box-sizing: border-box;
  padding: 10px 24px;
  width: 100%;
  height: 84px;
 
  background: #F8F8F7;
  flex: 0 0 auto;
}
.nav {
  max-width: 1440px;
}

.navList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
}

li {
  display: inline-block;
  color: #fff;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  width: 225px;
 
  svg {
    
    margin-right: 8px;
  }
}
